# Entorno virtual
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos
*.db
*.sqlite3
*.sqlite

# Variables de entorno
.env
*.env
config.py
configAuth.py

# Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db